* {
    box-sizing: border-box;
    cursor: none !important;

}
// fix for blend mode (mouse over) to work on all cards
html {
    background: #fff;
    padding: env(safe-area-inset);
    }

    html::selection, *::selection {
    background: #ff1e00;
    color: black;
  }

body {
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;
//iphone x fix
    // padding: env(safe-area-inset);



}

a {
    transition: opacity 0.2s ease-in-out;
    &:hover{
        opacity: 0.85;
      }
}
